/* font */
body {
  /* COMMON */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.strong {
  font-weight: 700;
}
header > .inner {
  height: 120px;
}
/* button */
.btn {
  display: inline-block;
  padding: 6px 20px;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
}
/* Header */
img {
  display: block;
}

/* Sub menu */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}
header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
}
header .inner .sub-menu {
  display: flex;
  position: absolute;
  align-items: center;
  top: 6px;
  right: 50px;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
}
header .inner .sub-menu .sub-menu__menu > li {
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}
header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #656565;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:focus {
  width: 150px;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  margin: auto;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 3px;
  height: 24px;
  font-weight: 300;
}

/* MAIN MENU */
header .inner .main-menu {
  position: absolute;
  right: 10px;
  top: 55px;
}
header .inner .main-menu .main-menu__menu {
  display: flex;
}
header .inner .main-menu .main-menu__menu .item .item__name {
  padding: 10px 22px 35px 22px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}
header .inner .main-menu .main-menu__menu .item .item__name:hover {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}

header .inner .main-menu .item .item__contents {
  position: fixed;
  width: 100%;
  top: 120px;
  left: 0;
  background-color: #2c2a29;
  display: none;
  /* transform: scaleY(0);
  transform-origin: center top;
  transition: 0.5s; */
}
header .inner .main-menu .item:hover .item__contents {
  display: block;
  /* transform: scale(1); */
}
header .inner .main-menu .item .item__contents .item__contents__menu {
  color: rgb(173, 173, 173);
  padding: 30px 0;
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  width: 200px;
  margin-right: 20px;
  font-size: 14px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
header.inner.main-menu.item.item__contents.item__contents__menu.inner > li > a:hover {
  text-decoration: underline;
}
header.inner.main-menu.item.item__contents.item__contents__menu.inner > li > ul {
  margin-top: 12px;
}
header .inne .main-men .ite .item__content .item__contents__men .inne > li > u > li {
  font-size: 12px;
  color: #999;
  padding: 3px 0;
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner > li > ul > li:hover {
  text-decoration: underline;
}

/* badges */
header .badges {
  position: absolute;
  top: 150px;
  right: 10px;
  /* left: calc(1100px + (100vw - 1100px / 2)); */
  /* 이런것도있다 */
}
header .badges .badge {
}
header .badges .badge img {
  width: 140px;
}

/* visual */
section.visual {
  position: relative;
  margin-top: 120px;
  height: 646px;
  background-size: 106% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/visual_bg.jpg);
}
section.visual .inner {
  display: flex;
  align-items: center;
  height: inherit;
}
section.visual .slogan {
  /* position: absolute;
  flex-wrap: wrap;
  justify-content: center; */
  width: 340px;
  top: 120px;
  left: -60px;
  text-align: center;
}
section.visual .slogan img {
  margin-bottom: 50px;
}
section.visual .inner > img:nth-child(2) {
  position: absolute;
  right: 400px;
}
section.visual .inner > img:nth-child(3) {
  position: absolute;
  right: 220px;
}
section.visual .inner > img:nth-child(4) {
  position: absolute;
  right: 0px;
}
.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076443;
  border-color: #000;
  color: #fff;
  text-decoration: underline;
}

/* notice */
section.notice {
  position: relative;
}
section.notice .notice-line {
  position: relative;
  font-weight: 600;
}
section.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}
section.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
section.notice .notice-line .inner {
  height: 62px;
  display: flex;
}
section.notice .notice-line .inner .inner__left {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #111111;
  color: white;
}
section.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
}
section.notice .notice-line .inner .inner__left div {
  position: absolute;
  left: 80px;
  font-size: 14px;
}
section.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}
section.notice .notice-line .inner .inner__left span {
  font-size: 36px;
  display: block;
}
section.notice .notice-line .inner .inner__right {
  background-color: #f6f5ef;
  position: relative;
  width: 40%;
  height: 100;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}
section.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 100px;
  font-size: 16px;
}
section.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: #000;
}
section.notice .notice-line .inner .inner__right span {
  font-size: 36px;
  display: block;
}

/* rewards */
section.rewards {
  position: relative;
  background-color: #1e3932;
}
section.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}
section.rewards .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  align-items: center;
  justify-content: center;
}
section.rewards .inner .rewards__logo img {
  display: block;
  width: 176px;
}
section.rewards .inner .rewards__items {
  flex-grow: 1;
}
section.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 30px;
  box-shadow: 0 .5008px #c8c8c8;
}
section.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
section.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
  color: white;
}
section.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 26px;
}
section.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register {
  background-color: #076443;
  color: white;
  margin-right: 6px;
  font-weight: 700;
  border: none;
}
section.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
section.rewards .inner .rewards__items .rewards__items__card .btn--login {
  font-weight: 700;
  border: 1px solid #fff;
  color: white;
}
section.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}
section.rewards .inner .rewards__items .rewards__items__card p {
  display: block;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
section.rewards .inner .rewards__items .rewards__items__card .btn--login {
  position: absolute;
  right: 0;
  top: 12px;
}
section.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register:hover,
section.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login:hover {
  text-decoration: underline;
}

/* elsalvador */
section.elsalvador {
  position: relative;
  height: 570px;
  background-image: url("../images/elsalvador_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
section.elsalvador .inner {
  position: relative;
  height: 100%;
}
section.elsalvador .inner .elsalvador__item {
  position: absolute;
  width: 310px;
  top: 70px;
  left: 110px;
  transform:translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}
section.elsalvador .inner .elsalvador__contents {
  position: absolute;
  width: 339px;
  right: 140px;
  top: 180px; 
  transform: translateX(900px);
  opacity: 0;
  transition: 2.5s;
}
section.elsalvador:active .inner .elsalvador__item,
section.elsalvador:active .inner .elsalvador__contents{
  opacity: 1;
  transform: translateX(0);
}
section.elsalvador .inner .elsalvador__contents .item-text {

}
section.elsalvador .btn--brown {
  color: #633514;
  border-color: #633514;
  transition: 0.6s;
  cursor: pointer;
  margin-top: 40px;
}
section.elsalvador .btn--brown:hover {
  background-color: #633514;
  color: #fff;
  text-decoration: underline;
}

/* ethiopia */
section.ethiopia{
  position: relative;
  height: 450px;
  background-color: #f6f5ef;
}
section.ethiopia .inner{
  height: 100%;
}
section.ethiopia::before{
  content: '';
  width: 425px;
  height: 100%;
  position: absolute;
  left: -50px;
  bottom: 0;
  /* 자동으로 디스플레이 블럭으로 바뀜 */
  background-image: url(../images/ethiopia_before.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
section.ethiopia::after{
  content: '';
  width: 361px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../images/ethiopia_after.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
section.ethiopia:active::before,
section.ethiopia:active::after{
  transition: 1.5s;
  opacity: 1;
}
section.ethiopia .inner .ethiopia__contents{
  position: absolute;
  width: 496px;
  left: 0;
  top: 120px;
}
section.ethiopia .inner .ethiopia__item{
  position: absolute;
  top: 0;
  left: -500px;
  z-index: 1;
  opacity: 0;
}
section.ethiopia .inner .ethiopia__item:active{
  opacity: 1;
  transition: 1.5s;
  transition-delay: 0.8s;
}
section.ethiopia .btn.btn--gold{
  position: absolute;
  left: 260px;
  top: 270px;
  border-color: #966936;
  color: #966936;
  transition: .6s;
  cursor: pointer;
}
section.ethiopia .btn.btn--gold:hover{
  background-color: #966936;
  color: white;
  text-decoration: underline;
}

/* favorite */
section.favorite{
  position: relative;
  height: 800px;
  background: url(../images/fav_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
section.favorite .fav_text1{
  position: absolute;
  top: 150px;
  left: 30px;
  width: 258px;
  margin-bottom: 30px;
  margin-left: 75px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2s;
}
section.favorite .fav_text2{
  position: absolute;
  left: 0;
  top: 400px;
  width: 362px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
  
}
section.favorite:active .fav_text1,
section.favorite:active .fav_text2{
  opacity: 1;
  transform: translateX(0);
}
section.favorite .fav_img{
  width: 913px;
  position: absolute;
  right: -240px;
  top: 170px;
}
section.favorite .btn.btn--white{
  position: absolute;
  top: 600px;
  left: 240px;
  border: 2px solid white;
  color: white;
  transition: .6s;
  cursor: pointer;
}
section.favorite .btn.btn--white:hover{
  background-color: white;
  color: #000;
  text-decoration: underline;
}

/* magazine */
section.magazine{
  position: relative;
  height: 400px;
  background-image: url(../images/magazine_bg.png);
  background-size: cover;
  background-position: center 50px;
  background-repeat: no-repeat;
  overflow: hidden;
}
section.magazine .inner .magazine_text{
  position: absolute;
  top: 135px;
  left: 30px;
}
section.magazine .inner .magazine_img{
  position: absolute;
  right: 90px;
  opacity: 0;
  transition: 1.5s;
}
section.magazine:active .inner .magazine_img{
  opacity: 1;
}
section.magazine .inner .btn.btn--black{
  position: absolute;
  top: 270px;
  left: 348px;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.6s;
}
section.magazine .inner .btn.btn--black:hover{
  background-color: black;
  color: white;
  text-decoration: underline;
}

/* store */
.store{
  position: relative;
  height: 400px;
  background-image: url(../images/store_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.store .inner{
  height: 400px;
}
.store .store_img1{
  position: absolute;
  width: 366px;
  top: 0;
  left: 70px;
  opacity: 0;
  transition: 1.5s;
}
.store .store_img2{
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
  opacity: 0;
  transition: 1.5s;
}
.store .store_img3{
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 1.5s;
}
.store .store_img4{
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0;
  opacity: 0;
  transition: 1.5s;
}
.store:active .store_img1,
.store:active .store_img2,
.store:active .store_img3,
.store:active .store_img4{
  opacity: 1;
}
.store .store_text1{
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  transform: translateX(800px);
  opacity: 0;
  transition: 2s;
}
.store .store_text2{
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translateX(800px);
  opacity: 0;
  transition: 2.5s;
}
.store:active .store_text1,
.store:active .store_text2{
  transform: translateX(0);
  opacity: 1;
}
.store:active .btn.btn--black{
  transition: transform 3s, background-color 0.6s, color 0.6s;
  transform: translateX(0);
  opacity: 1;
}
.store .btn.btn--black{
  position: absolute;
  top: 290px;
  right: 330px;
  color: black;
  border: 2px solid black;
  transition: 0.6s;
  cursor: pointer;
  transform: translateX(800px);
  opacity: 0;
}
.store .btn.btn--black:hover{
  background-color: black;
  color: white;
}