/* font */
body {
  /* COMMON */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
}
/* icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  height: 120px;
  position: relative;
}
/* Header */
img {
  display: block;
}

/* Sub menu */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}
header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
}
header .inner .sub-menu {
  display: flex;
  position: absolute;
  align-items: center;
  top: 6px;
  right: 50px;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
}
header .inner .sub-menu .sub-menu__menu > li {
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}
header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #656565;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:focus {
  width: 150px;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  margin: auto;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 3px;
  height: 24px;
  font-weight: 300;
}

/* MAIN MENU */
header .inner .main-menu {
  position: absolute;
  right: 10px;
  top: 58px;
}
header .inner .main-menu .main-menu__menu {
  display: flex;
}
header .inner .main-menu .main-menu__menu .item {
  padding: 10px 20px 34px 24px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}
header .inner .main-menu .main-menu__menu .item:hover {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
